* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Book.otf");
}
body {
  background: #020a18;

  &._blocked {
    overflow: hidden;
  }
}
.btn {
  padding: 15px 30px;
  background: #3a68b8;
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: #29549e;
    transition: 0.3s all ease;
  }

  &:active {
    transform: translateY(1px);
  }
}
